fastapi
uvicorn[standard]
ultralytics
requests
Pillow
numpy<2.0
gcsfs
google-cloud-secret-manager
google-cloud-storage
supabase
polyline
osmnx
python-dotenv
torch==2.2.2+cpu
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu
python-multipart
